<div
  class="cookies-banner"
>
  <div class="cookies-banner__section">
    <div class="cookies-banner__image">
      {% render "Cookies" %}
    </div>

    <div class="cookies-banner__text">
      {{ block.settings.content }}
    </div>
  </div>

  <div class="cookies-banner__section">
    <button
      class="cookies-banner__accept-button cookie-button"
    >
      <div>
        {% render "Cookie_button" %}
      </div>
      <span>Accept cookies</span>
    </button>

    <button
      class="cookies-banner__decline-button cookie-button"
    >
      Decline
    </button>

    {% render "Close_button" %}
  </div>
</div>

{% schema %}
  {
    "name": "Cookie Banner",
    "target": "body",
    "stylesheet": "style.css",
    "javascript": "script.js",
    "settings": [
      {
        "label": "Content",
        "id": "content",
        "type": "text",
        "default": "Our website use cookies."
      }
    ]
  }
{% endschema %}